body {
  margin: 0;
  min-width: 400px;
  min-height: 400px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the prefixbox */
.prefixbox {
  background-color: #205081;
}

/* Style the autodetect */
.autodetect {
  background-color: #14892c;
  font-size: 20px;
}

/* Style the hostname */
.hostname {
  background-color: #3572b0;
  font-size: 20px;
}

.save {
  background-color: #ebf2f9;
  font-size: 20px;
}

/* Style the header */
.header {
  padding: 30px 10px;
  color: white;
  text-align: center;
}

/* Clear floats */
.header:after {
  content: "";
  display: table;
  clear: both;
}

input[type=checkbox] {
  transform: scale(1.5);
}

/* Style the input */
#inputprefix {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
}

#inputhostname {
  width: 100%;
}

/* Style the "Add" button */
#addprefix {
  padding: 10px;
  width: 25%;
  background: #ebf2f9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#addprefix:hover {
  background-color: #bbb;
}

#status {
  background-color: #f5f5f5;
  color: #d04437;
  font-size: 20px;
}
